{% extends 'base.html' %}

{% block body %}
<div class="d-flex flex-column">
	<div class="container bg-dark text-white d-flex justify-content-between align-items-center p-3">
		{% if user.is_authenticated %}
			<div class="d-flex flex-column justify-content-center align-items-end">
				<h1 class="m-0">Welcome, {{ user.username }}</h1>					
				<h4 class="m-0"><a href="{% url 'twitter:create' %}" class="link-success link-offset-1 fs-5 link-underline-opacity-25 link-underline-opacity-100-hover">Post</a></h4>
			</div>
			<form action="{% url 'logout' %}" method="post">
				{% csrf_token %}
				<input type="submit" value="Logout" class="btn btn-outline-light fs-5">
			</form>							
		{% else %}
			<form action="{% url 'login' %}">
				{% csrf_token %}
				<input type="submit" value="Login" class="btn btn-outline-light fs-5">
			</form>
		{% endif %}
	</div>

	<!-- <div class="container d-flex flex-column justify-content-center align-items-center p-1 my-2">
		<ul class="list-group list-group-flush p-3">
			<li class="list-group-item list-group-item-success rounded-2 fs-5"><a href="{% url 'twitter:create'%}" class="link-dark link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Post Twitt</a></li>                
		</ul>
	</div> -->

	<div class="container bg-light d-flex flex-column justify-content-center align-items-center p-4">
		{% block main %}{% endblock %}
	</div>
</div>
{% endblock %}