{% extends 'main-base.html' %}

{% block title %}
    Twitts
{% endblock %}

{% block main %}        
    <h1 class="display-2 mb-3 border-bottom">       
        {% if user_twitts_list %}         
            {% for twitt in twitt_list %}                
                {% if forloop.first %}
                    {% if twitt.owner == request.user %}
                        Your   
                    {% else %}
                        {{ twitt.owner }}'s
                    {% endif %}
                {% endif %}
            {% endfor %}                    
        {% endif %}
        Twitts
    </h1>        
    {% if messages %}   
        {% for message in messages %}                                                     
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>                                                            
        {% endfor %}
    {% endif %}
    <ul class="list-group list-group-flush"></ul>
        {% for twitt in twitt_list %}                
            {% if twitt.owner == request.user %}                
                <li class="list-group-item list-group-item-primary p-3 rounded-2 m-1 fs-5 w-100 text-break"><a href="{% url 'twitter:user_twitts_list' twitt.owner %}" class="link-dark link-offset-2 link-underline-opacity-10 link-underline-opacity-100-hover">You</a> : <a href="{% url 'twitter:detail' twitt.id %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ twitt.text }}</a> ( <a href="{% url 'twitter:update' twitt.id %}" class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a> | <a href="{% url 'twitter:delete' twitt.id %}" class="link-danger link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a> )</li>                
            {% else %}
                <li class="list-group-item list-group-item-secondary p-3 rounded-2 m-1 fs-5 w-100 text-break"><a href="{% url 'twitter:user_twitts_list' twitt.owner %}" class="link-dark link-offset-2 link-underline-opacity-10 link-underline-opacity-100-hover">{{ twitt.owner }}</a> : <a href="{% url 'twitter:detail' twitt.id %}" class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{ twitt.text }}</a></li>
            {% endif %}            
        {% empty %}
            <div class="alert alert-danger" role="alert">
                No Twitts Yet
            </div>
        {% endfor %}        
    </ul>
    {% if user_twitts_list %}
        <button type="button" onclick="navigateToLink()" class="btn btn-secondary mt-3">Back</button>

        <script>
            function navigateToLink() {
                window.location.href = "{% url 'twitter:list' %}";
            }
        </script>
    {% endif %}
{% endblock %}