{% extends 'main-base.html' %}
{% load humanize %}

{% block title %}
    Detail
{% endblock %}

{% block main %}
    {% if twitt.owner == request.user %}
        <li class="list-group-item list-group-item-primary p-3 rounded-2 m-1 fs-5 w-100 text-break">id={{ twitt.id }} | You: {{ twitt.text }} | Created {{ twitt.created_time | naturaltime }} | Updated {{ twitt.updated_time | naturaltime }} ( <a href="{% url 'twitter:update' twitt.id %}" class="link-primary link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Update</a> | <a href="{% url 'twitter:delete' twitt.id %}" class="link-danger link-offset-1 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a> )</li>    
    {% else %}
        <li class="list-group-item list-group-item-secondary p-3 rounded-2 m-1 fs-5 w-100 text-break">id={{ twitt.id }} | {{ twitt.owner }}: {{ twitt.text }} | Created {{ twitt.created_time | naturaltime }} | Updated {{ twitt.updated_time | naturaltime }}</li>    
    {% endif %}
    <button type="button" onclick="navigateToLink()" class="btn btn-secondary mt-3">Back</button>

    <script>
        function navigateToLink() {
            window.location.href = "{% url 'twitter:list' %}";
        }
    </script>
{% endblock %}